{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        background-color: #1B1452
        
    }

    .container {
        max-width: 2000px;
        margin: 0 auto;
        padding: 0px;
        text-align: center;
    }

    .picture {
        margin-bottom: 20px;
        max-width: 100%;
        height: auto;
    }

    .services {
        margin-top: 20px;
    }

    .services h2 {
        font-size: 24px;
    }

    .services ul {
        list-style-type: none;
        padding: 0;
    }

    .services li {
        margin-bottom: 10px;
    }
</style>

<div class="container">
    <img class="picture" src="./static/Homepage.png" alt="Picture">
    
</div>
{% endblock %}
